@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.top {
  color: #666;
  font-size: 16px;
}

.label {
  text-align: left;
  font-size: 14pt;
}

.critical {
  color: orange;
  animation: blinker 1s linear infinite;
}

.middle {
  color: yellow;
}

.optimum {
  color: green;
}

.value {
  text-align: left;
  font-size: 18pt;
}

.tab {
  table-layout: fixed;
  width: 500px !important;
  margin-top: 16px;
}

.header-left {
  text-align: left;
}

.header {
  text-align: center;
}

.status-left {
  text-align: left;
}

.status {
  text-align: center;
}

.curr-left {
  text-align: left;
}

.curr {
  text-align: center;
}
