.top {
  color: #666;
  font-size: 16px;
}

.label {
  text-align: left;
  font-size: 14pt;
}

.critical {
  color: darkred;
}

.middle {
  color: yellow;
}

.normal {
  color: green;
}

.value {
  text-align: right;
  font-size: 18pt;
  color: #087e82;
}

.tab {
  table-layout: fixed;
  width: 500px !important;
  margin-top: 16px;
}

.header-left {
  text-align: left;
}

.header {
  text-align: center;
}

.status-left {
  text-align: left;
}

.status {
  text-align: center;
}

.curr-left {
  text-align: left;
}

.curr {
  text-align: center;
}
