/*
 *
 * MMM-TankViewer
 *
 * yen
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.label {
  font-size: 14pt;
}

.value {
  font-size: 18pt;
  color: #087e82;
}

.tab {
  table-layout: fixed;
  width: 500px !important;
  margin-top: 16px;
}
